body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
	width: 1440px;
	margin: 0 auto;
/*	text-align: center;*/
}

.page-header {
	background-color:#ffffff;
	height: 200px;
	width: 100%;
	padding-top: 16px;
}

.nav__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 94%;
}

.header-title {
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: 900;
font-size: 35px;
line-height: 47px;
text-transform: none;

letter-spacing: 1px;
padding-top: 15px;
text-align: center;
}

.nav {
	padding: 5px 85px 0px 79px;
}

.nav__item {
	width: 125px;
}

.nav__link {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 2px;

color: #000000;
}

.page-main__banner {
	background-image: url(../img/banner-bg.png);
	height: 464px;
	width: auto;
	color: #ffffff;

}

.page-main__banner-icon {
	padding-top: 45px;
	text-align: center;
}

.page-main__banner-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  /*letter-spacing: 2px;*/
  text-transform: uppercase;

  margin-top: 25px;
}

.page-main__banner-text{
font-family: 'Roboto', sans-serif;
text-transform: none;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

text-align: center;
margin: 0 auto;
padding-top: 76px;
width: 35%;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 0px 120px 35px 120px;
}

.gallery-title {
	width: 100%;
	display: block;
	font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
}

.gallery-item {
	width: 33.33%;
}

.photo-title {
font-family: 'Playfair Display', serif;
font-style: normal;
font-weight: bolder;
font-size: 23px;
line-height: 31px;
text-transform: none;
text-align: left;
margin-top: 15px;
margin-bottom: 10px;
}

.photo-wrapper__img {
	width: 370px;
	height: 203px;
}

.photo-text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
color: #000000;
text-transform: none;

margin-top: 0px;
width: 90%;
}

.ticket {
	position: relative;
	background-color: #F7F7F7;
	height: 556px;
}

.ticket-wrapper {
	position: absolute;
	top: -50px;
	left: 340px;
	width: 707px;
	height: 707px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 50%;
}

.main-footer {
	position: relative;
	z-index: 1;
}

.ticket-title {
	padding-top: 80px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
}

.ticket-item__subtitle {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-transform: none;
  color: #000000;
  margin-bottom: 0px;
/*  margin-top: 0px;*/
}

.ticket-item__text {
	font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  text-transform: none;
  margin-top: 6px;
}

.ticket-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	align-content: center;
}

.line::after{
	content: " ";
	position: absolute;
	height: 1px;
	width: 100px;
	top: 125px;
	left: 130px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0.3;
}

.ticket-item {
	width: 52%;
	position: relative;
	flex-basis: 127px
}

.ticket-button {
	background-color: #FF7931;
	border: none;
	color: #ffffff;
	cursor: pointer;
	width: 170px;
	height: 47px;
	font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.main-footer {
	background-color: #575757;
		color: #ffffff;

}

.nav__link-footer {
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
letter-spacing: 2px;
color: #ffffff;
}

.footer-title {
	margin-top: 50px;
	font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  padding-top: 28px;
}